body{
    margin: 0;
    padding: 0;
}

header{
    background-image: url("assets/header_backgorud.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    padding-left: 10%;
}

h1{
    color: white;
    font-size: 800%;
    font-family: fantasy;
    letter-spacing: 20px;
}

h2{
    color: black;
    font-size: 700%;
    font-family: fantasy;
    text-shadow: 3px 3px 0px rgba(255,255,255, 1);
    letter-spacing: 20px;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(rgba(0,0,0,1) 5%, rgba(0,0,0,1) 10%, rgba(120,120,120,1) 100%);
    color: white;
}

main{
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Arial";
    box-sizing: border-box;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 150px;
    font-size: 130%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto;
    gap: 4%;
    width: 100%;
    box-sizing: border-box;
}

.grid-item{
    text-align: center;
}

.grid-item p{
    text-align: justify;
    font-weight: 10;
}

img{
    width: 550px;
    height: 380px;
    max-width: 100%;
}

h3{
    font-size: 200%;
}
h4{
    text-align: left;
    font-size: 120%;
}

footer{
    background-color: black;
    padding: 100px;
    text-align: center;
    margin-top: 100px;
}

@media (max-width: 1200px){
    .grid-container {
        grid-template-columns: 100%;
    }
}

@media (max-width: 700px){
    img{
        width: 350px;
        height: 250px;
    }
    h1{
        font-size: 500%;
    }

    h2{
        font-size: 400%;
    }
}

* {
    box-sizing: border-box;
}
