#pogoda {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.today-weather, .forecast-day {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 300px;
}

.today-weather h2, .forecast-day h3 {
    color: #333;
    margin-bottom: 0.5rem;
}

.forecast-day {
    margin-top: 1rem;
}
